       .form-container {
        color: darkmagenta;
        width: 300px;
        margin: 0 auto;
      }
  
      .form-group {
        color: rgba(197, 12, 89, 0.815);
        margin-bottom: 10px;
      }
  
      .form-group label {
        color: rgb(112, 3, 94);
        display: block;
        margin-bottom: 5px;
      }
  
      .form-group input {
        color: rgb(1, 1, 37);
        width: 100%;
        padding: 5px;
      }
  
      #registration-details {
        color: rgb(47, 5, 231);
        margin-top: 20px;
        display: none;
      }